<h1>Quora Clone</h1>

<h2>Account Settings</h2>


<p>Username: <%= current_user.username %><form method="get" action='/users/<%= @user.id %>/edit_username'><button type="submit">Edit</button>
</form></p><br>
<p>Email: <%= current_user.email %><form method="get" action='/users/<%= @user.id %>/edit_email'>
    <button type="submit">Edit</button>
</form></p><br>
<p>Password: </p><form method="get" action='/users/<%= @user.id %>/edit_password'>
    <button type="submit">Edit</button>
</form></br>

<form method="post" action ="/home">
<input type="submit" value="Back to Home">
</form>
<form method="post" action ="/logout">
<input type="submit" value="Logout">
</form>