<h1>Quora Clone</h1>
<h2><a href="/users/<%=current_user.id %>">Profile</a></h2>

<h1><%= current_user.username %></h1>
<h3>What is your question?</h3>

<form action="/questions" method="post">
		<textarea type="text" name="question[question_description]" class="text-form" placeholder="Enter your question here"></textarea><br>
		<input type="submit" value="submit">
</form>

<h2>Most Recent Questions</h2>
<ol>
<% @questions.each do |question| %>
<li><a href="/questions/<%= question.id %>"><%= question.question_description %></a>
<% author_id = question.user_id %>
	<% if author_id == current_user.id %>
	<table class="table">
	<tr>
	<td><form method="get" action='/questions/<%= question.id %>/edit_question'><button type="submit">Edit</button>
	</form></td>
	<td><form method="get" action='/questions/<%= question.id %>/delete_question'><button type="submit">Delete</button></form></td>
	</tr>
	</table>
	</li>
	<% end %>
<% end %>
</ol>


<br></br>
<form method="post" action ="/logout">
<input type="submit" value="Logout">
</form>